Repository KosarAntoni/reactjs-global-mentoring-program: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, stylelint --fix

.lintstagedrc:

{
    "*/**.{js,ts,jsx,tsx}": [
        "eslint . --fix"
    ],
    "*.scss": [
        "stylelint --fix"
    ]
}

feat: add stylelint
  .lintstagedrc
Due: none

feat: add stylelint
  .lintstagedrc
  .stylelintcache
  src/App.styles.scss
Due: stylelint --fix

feat: add clean script
  package-lock.json
  package.json
Due: none

feat: update webpack.config.prod
  webpack.config.prod.js
Due: none

fix: change mode on webpack.config.prod
  webpack.config.prod.js
Due: none

feat: add base Layout
  .eslintrc.js
  src/App.styles.scss
  src/App.tsx
  src/templates/Layout/Layout.tsx
  src/templates/Layout/index.ts
  tsconfig.json
Due: eslint . --fix, stylelint --fix

feat: add relative paths support
  tsconfig.json
  webpack.config.dev.js
  webpack.config.prod.js
Due: none

feat: add base styles
  src/App.styles.scss
  src/App.tsx
  src/styles/variables.scss
  src/templates/Layout/Layout.tsx
Due: eslint . --fix, stylelint --fix

feat: modify configs
  .eslintrc.js
  webpack.config.dev.js
Due: none

feat: add fonts
  src/styles/fonts.scss
  src/styles/variables.scss
Due: stylelint --fix

feat: add Logo component
  src/App.styles.scss
  src/components/Logo/Logo.styles.scss
  src/components/Logo/Logo.tsx
  src/components/Logo/index.ts
  src/templates/Layout/Layout.tsx
Due: stylelint --fix

feat: add Button component
  package-lock.json
  package.json
  src/components/Button/Button.models.ts
  src/components/Button/Button.styles.scss
  src/components/Button/Button.tsx
  src/components/Button/index.ts
Due: stylelint --fix

fix: change lint-staged paths
  .lintstagedrc
Due: none

feat: add Input component
  src/components/Input/Input.models.ts
  src/components/Input/Input.styles.scss
  src/components/Input/Input.tsx
  src/components/Input/index.ts
Due: stylelint --fix

feat: add normalize.scss
  src/styles/normalize.scss
Due: stylelint --fix

feat: add Footer
  src/App.styles.scss
  src/components/Footer/Footer.styles.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/components/Input/Input.tsx
  src/templates/Layout/Layout.tsx
Due: stylelint --fix

feat: add Search component
  src/components/Button/Button.models.ts
  src/components/Button/Button.styles.scss
  src/components/Input/Input.styles.scss
  src/components/Search/Search.models.ts
  src/components/Search/Search.styles.scss
  src/components/Search/Search.tsx
  src/components/Search/index.ts
Due: stylelint --fix

feat: add Search heading
  src/components/Search/Search.styles.scss
  src/components/Search/Search.tsx
Due: stylelint --fix

feat: add file-loader
  package-lock.json
  package.json
  src/react-app-env.d.ts
  tsconfig.json
  webpack.config.dev.js
  webpack.config.prod.js
Due: eslint . --fix

feat: add Header
  src/assets/header-background.png
  src/components/Button/Button.models.ts
  src/components/Header/Header.styles.scss
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/Logo/Logo.models.ts
  src/components/Logo/Logo.tsx
  src/components/Search/Search.styles.scss
  src/templates/Layout/Layout.styles.scss
  src/templates/Layout/Layout.tsx
Due: stylelint --fix

feat: add MovieCard component
  src/components/MovieCard/MovieCard.models.ts
  src/components/MovieCard/MovieCard.styles.scss
  src/components/MovieCard/MovieCard.tsx
  src/components/MovieCard/index.ts
  src/movies-mock.json
Due: stylelint --fix

feat: add GenreSelect component
  src/components/GenreSelect/GenreSelect.models.ts
  src/components/GenreSelect/GenreSelect.styles.scss
  src/components/GenreSelect/GenreSelect.tsx
  src/components/GenreSelect/index.ts
Due: stylelint --fix

feat: add GenreSelect component
  src/components/GenreSelect/GenreSelect.models.ts
  src/components/GenreSelect/GenreSelect.tsx
  src/components/SortSelect/SortSelect.models.ts
  src/components/SortSelect/SortSelect.styles.scss
  src/components/SortSelect/SortSelect.tsx
  src/components/SortSelect/index.ts
Due: stylelint --fix

feat: add MoviesList container
  src/containers/MovieList/MovieList.models.ts
  src/containers/MovieList/MovieList.styles.scss
  src/containers/MovieList/MovieList.tsx
  src/containers/MovieList/index.ts
  src/mock.ts
  src/movies-mock.json
  src/templates/Layout/Layout.tsx
Due: eslint . --fix, stylelint --fix

feat: add ErrorBoundary component
  src/App.styles.scss
  src/containers/ErrorBoundary/ErrorBoundary.models.ts
  src/containers/ErrorBoundary/ErrorBoundary.tsx
  src/containers/ErrorBoundary/index.ts
  src/templates/Layout/Layout.tsx
Due: stylelint --fix

feat: add Modal component
  .eslintrc.js
  src/components/Modal/Modal.models.ts
  src/components/Modal/Modal.styles.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/index.ts
  src/index.html
  src/index.tsx
  src/styles/variables.scss
Due: eslint . --fix, stylelint --fix

feat: add select to MovieCard
  src/components/MovieCard/MovieCard.models.ts
  src/components/MovieCard/MovieCard.styles.scss
  src/components/MovieCard/MovieCard.tsx
  src/containers/MovieList/MovieList.tsx
Due: stylelint --fix

feat: add MovieDelete component
  .eslintrc.js
  src/components/Modal/Modal.models.ts
  src/components/Modal/Modal.styles.scss
  src/components/Modal/Modal.tsx
  src/components/MovieCard/MovieCard.styles.scss
  src/components/MovieDelete/MovieDelete.models.ts
  src/components/MovieDelete/MovieDelete.styles.scss
  src/components/MovieDelete/MovieDelete.tsx
  src/components/MovieDelete/index.ts
  src/containers/MovieList/MovieList.tsx
Due: stylelint --fix

refactor: fix Header code style
  src/components/Header/Header.tsx
Due: none

feat: add SuccessModal
  src/components/Modal/Modal.models.ts
  src/components/Modal/Modal.styles.scss
  src/components/Modal/Modal.tsx
  src/components/MovieCard/MovieCard.tsx
  src/components/MovieDelete/MovieDelete.models.ts
  src/components/MovieDelete/MovieDelete.tsx
  src/components/SuccessModal/SuccessModal.models.ts
  src/components/SuccessModal/SuccessModal.styles.scss
  src/components/SuccessModal/SuccessModal.tsx
  src/components/SuccessModal/index.ts
  src/containers/MovieList/MovieList.tsx
Due: stylelint --fix

refactor: change name from MovieDelete to MovieDeleteModal
  src/components/MovieDelete/MovieDelete.models.ts
  src/components/MovieDelete/MovieDelete.tsx
  src/components/MovieDelete/MovieDeleteModal.models.ts
  src/components/MovieDelete/MovieDeleteModal.styles.scss
  src/components/MovieDelete/MovieDeleteModal.tsx
  src/components/MovieDelete/index.ts
  src/containers/MovieList/MovieList.tsx
Due: stylelint --fix

style: add MOvieCard hover
  .stylelintrc
  src/components/MovieCard/MovieCard.styles.scss
Due: stylelint --fix

refactor: change folder name from MovieDelete to MovieDeleteModal
  src/components/MovieDeleteModal/MovieDeleteModal.models.ts
  src/components/MovieDeleteModal/MovieDeleteModal.styles.scss
  src/components/MovieDeleteModal/MovieDeleteModal.tsx
  src/components/MovieDeleteModal/index.ts
  src/containers/MovieList/MovieList.tsx
Due: stylelint --fix

feat: add InputField component
  src/components/Input/Input.models.ts
  src/components/Input/Input.tsx
  src/components/InputField/InputField.models.ts
  src/components/InputField/InputField.styles.scss
  src/components/InputField/InputField.tsx
  src/components/InputField/index.ts
Due: stylelint --fix

feat: add EditMovieModal component
  src/components/Header/Header.tsx
  src/components/MovieEditModal/MovieEditModal.models.ts
  src/components/MovieEditModal/MovieEditModal.styles.scss
  src/components/MovieEditModal/MovieEditModal.tsx
  src/components/MovieEditModal/index.ts
  src/containers/Header/Header.styles.scss
  src/containers/Header/Header.tsx
  src/containers/Header/index.ts
  src/templates/Layout/Layout.tsx
Due: stylelint --fix

feat: add TextareaField component
  src/components/MovieEditModal/MovieEditModal.styles.scss
  src/components/MovieEditModal/MovieEditModal.tsx
  src/components/TextareaField/TextareaField.models.ts
  src/components/TextareaField/TextareaField.styles.scss
  src/components/TextareaField/TextareaField.tsx
  src/components/TextareaField/index.ts
Due: stylelint --fix

feat: add Dropdown component
  src/components/Dropdown/Dropdown.models.ts
  src/components/Dropdown/Dropdown.styles.scss
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/index.ts
Due: stylelint --fix

feat: implement Dropdown in SortSelect
  src/components/SortSelect/SortSelect.styles.scss
  src/components/SortSelect/SortSelect.tsx
  src/containers/MovieList/MovieList.tsx
Due: stylelint --fix

fix: Dropdown styles
  src/components/Dropdown/Dropdown.styles.scss
  src/components/SortSelect/SortSelect.styles.scss
Due: stylelint --fix

feat: add Checkbox component
  src/components/CheckboxField/CheckboxField.models.ts
  src/components/CheckboxField/CheckboxField.styles.scss
  src/components/CheckboxField/CheckboxField.tsx
  src/components/CheckboxField/index.ts
Due: stylelint --fix
