Repository KosarAntoni/reactjs-global-mentoring-program: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, stylelint --fix

feat: add Genre selector to form
  src/components/CheckboxField/CheckboxField.styles.scss
  src/components/CheckboxField/CheckboxField.tsx
  src/components/Dropdown/Dropdown.styles.scss
  src/components/MovieEditModal/MovieEditModal.styles.scss
  src/components/MovieEditModal/MovieEditModal.tsx
Due: stylelint --fix

feat: add movie edit function
  .eslintrc.js
  src/components/MovieEditModal/MovieEditModal.models.ts
  src/components/MovieEditModal/MovieEditModal.tsx
  src/containers/MovieList/MovieList.tsx
Due: none

feat: add eslint-plugin-react-hooks packgage
  .eslintrc.js
  package-lock.json
  package.json
Due: none

feat: add utils
  src/utilities/formatGenres.ts
  src/utilities/formatTime.ts
  src/utilities/index.ts
  tsconfig.json
  webpack.config.dev.js
  webpack.config.prod.js
Due: none

feat: implement formatGenres util into MovieCard
  src/components/MovieCard/MovieCard.tsx
Due: none

feat: add MovieDetails component
  src/components/MovieDetails/MovieDetails.models.ts
  src/components/MovieDetails/MovieDetails.styles.scss
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieDetails/index.ts
Due: stylelint --fix

feat: add ability to show MovieDetails
  src/components/MovieCard/MovieCard.models.ts
  src/components/MovieCard/MovieCard.tsx
  src/components/MovieDetails/MovieDetails.models.ts
  src/containers/Header/Header.models.ts
  src/containers/Header/Header.styles.scss
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.models.ts
  src/containers/MovieList/MovieList.tsx
  src/templates/Layout/Layout.tsx
Due: stylelint --fix

feat: add ability to close MovieDetails
  src/containers/Header/Header.models.ts
  src/containers/Header/Header.styles.scss
  src/containers/Header/Header.tsx
  src/templates/Layout/Layout.tsx
Due: stylelint --fix

feat: configured initial store
  .eslintrc.js
  package-lock.json
  package.json
  src/index.tsx
  src/store/hooks.ts
  src/store/index.ts
  src/store/moviesSlice.ts
  src/utilities/formatTime.ts
  tsconfig.json
  webpack.config.dev.js
  webpack.config.prod.js
Due: eslint . --fix

feat: add ability to fetch movies
  src/components/SortSelect/SortSelect.models.ts
  src/containers/MovieList/MovieList.tsx
  src/store/index.ts
  src/store/moviesSlice.ts
  src/templates/Layout/Layout.tsx
Due: none

feat: add ability to fetch single movie
  src/containers/Header/Header.models.ts
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.tsx
  src/store/moviesSlice.ts
  src/templates/Layout/Layout.tsx
Due: none

feat: add consts file
  src/consts/index.ts
  src/containers/MovieList/MovieList.tsx
  src/store/moviesSlice.ts
  tsconfig.json
  webpack.config.dev.js
  webpack.config.prod.js
Due: none

feat: add filter by genres
  src/consts/index.ts
  src/containers/MovieList/MovieList.tsx
Due: none

refactor: change id type
  src/containers/MovieList/MovieList.tsx
Due: none

refactor: minor changes
  src/store/moviesSlice.ts
  src/templates/Layout/Layout.tsx
Due: none

refactor: fix typo, change name from fetchMovies to fetchAllMovies
  src/containers/MovieList/MovieList.tsx
  src/store/moviesSlice.ts
Due: none

feat: install formik & yup
  package-lock.json
  package.json
Due: none

feat: add ability to delete movie
  src/components/MovieDeleteModal/MovieDeleteModal.models.ts
  src/components/MovieDeleteModal/MovieDeleteModal.styles.scss
  src/components/MovieDeleteModal/MovieDeleteModal.tsx
  src/containers/MovieList/MovieList.tsx
  src/store/moviesSlice.ts
Due: stylelint --fix

feat: add ability to add Movie
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieEditModal/MovieEditModal.models.ts
  src/components/MovieEditModal/MovieEditModal.tsx
  src/consts/index.ts
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.tsx
  src/store/moviesSlice.ts
  src/utilities/formatTime.ts
Due: none

feat: add ability to edit movie
  src/components/MovieEditModal/MovieEditModal.tsx
  src/containers/MovieList/MovieList.tsx
  src/store/moviesSlice.ts
  src/utilities/formatTime.ts
Due: none

feat: add validation schema, fix: genres selector
  src/components/MovieEditModal/MovieEditModal.tsx
Due: none

feat: add genres error message
  src/components/MovieEditModal/MovieEditModal.tsx
Due: none

feat: add ability to search movies
  .eslintrc.js
  src/App.tsx
  src/components/Search/Search.models.ts
  src/components/Search/Search.tsx
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.tsx
  src/index.html
  src/store/moviesSlice.ts
Due: eslint . --fix

feat: add base routes and 404 page
  .vscode/settings.json
  package-lock.json
  src/App.tsx
  src/templates/NotFound/NotFound.styles.scss
  src/templates/NotFound/NotFound.tsx
  src/templates/NotFound/index.ts
  webpack.config.dev.js
Due: eslint . --fix, stylelint --fix

feat: install react-router
  package-lock.json
  package.json
Due: none

feat: add ability to select one movie
  src/App.tsx
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.tsx
Due: eslint . --fix

feat: add ability to change sorting
  src/containers/MovieList/MovieList.tsx
Due: none

feat: add ability to change genre
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.tsx
  src/utilities/index.ts
  src/utilities/url.ts
Due: none

feat: configured tests enviroment
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/store/index.ts
  src/store/moviesSlice.ts
  src/utilities/test-utilities.tsx
Due: none

feat: add Button tests
  jest.config.js
  package.json
  src/components/Button/Button.test.tsx
  src/components/Button/Button.test.tsx.snap
  src/utilities/snapshotResolver.js
Due: none

feat: add some unit and integration tests
  jest.config.js
  src/components/Button/Button.test.tsx
  src/components/CheckboxField/CheckboxField.test.tsx
  src/components/CheckboxField/CheckboxField.test.tsx.snap
  src/components/CheckboxField/CheckboxField.tsx
  src/components/Footer/Footer.test.tsx
  src/components/Footer/Footer.test.tsx.snap
  src/components/Footer/Footer.tsx
  src/components/Logo/Logo.test.tsx
  src/components/Logo/Logo.test.tsx.snap
  src/components/Logo/Logo.tsx
  src/components/MovieDetails/MovieDetails.mock.ts
  src/components/MovieDetails/MovieDetails.test.tsx
  src/components/MovieDetails/MovieDetails.test.tsx.snap
  src/components/MovieDetails/MovieDetails.tsx
  src/components/Search/Search.test.tsx
  src/components/Search/Search.test.tsx.snap
  src/components/Search/Search.tsx
  src/utilities/formatGenres.test.ts
  src/utilities/formatTime.test.ts
  src/utilities/formatTime.ts
  src/utilities/url.test.ts
  src/utilities/url.ts
Due: none

feat: add reducer tests
  jest.config.js
  package-lock.json
  src/store/moviesSlice.test.ts
Due: none

feat: add cypress test
  .eslintrc.js
  .husky/pre-commit
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  tsconfig.json
Due: none

feat/install and configured next
  .eslintrc.js
  next-env.d.ts
  package-lock.json
  package.json
  src/App.styles.scss
  src/App.tsx
  src/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint . --fix, stylelint --fix

feat: add 404 page
  src/pages/404.tsx
Due: none

fix: redirect to search page
  next.config.js
  src/pages/search/index.tsx
Due: none

feat: rewrite rest of components to accord next
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.tsx
  src/store/moviesSlice.ts
  src/templates/Layout/Layout.tsx
Due: none

fix: update url utils
  src/containers/Header/Header.tsx
  src/containers/MovieList/MovieList.tsx
  src/utilities/url.ts
Due: none

feat: rewrite search
  src/containers/MovieList/MovieList.tsx
  src/pages/search/[searchQuery].tsx
Due: none

Path conditions:
  eslint . --fix: any of: */**.{js,ts,jsx,tsx}
  stylelint --fix: any of: *.scss
